<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptatibus facere distinctio voluptate dolorem repellat iste ullam quisquam sit dolore. Perspiciatis sit cupiditate quod laboriosam ex, qui officia natus minima.</p>
    <input type="text" id="example">
    <button id="action">Klick</button>
    <p id="text"></p>
<script src="./../js/func.js"></script>
</body>
</html>